body {
  font-family: 'Open Sans', sans-serif;
  background-color:rgb(240, 245, 241);
  color:rgb(55, 170, 86);
}

p::first-letter {
    text-transform: uppercase;
}

.generated-text {
background-color:rgb(55, 170, 86);
color: white;
margin: 0 auto;
width: 800px;
border-radius: 3px;
padding: 8px 8px 8px 8px;
}

.generated-text:empty {
 display: none;
 background-color:rgb(240, 245, 241);
}


.title, .description, form {
  text-align: center;
}

.paragraph-number {
  border: 1px solid #eee;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  height: 34px;
  text-align: right;
  font-size: 14px;
  overflow: hidden;
  outline: none;
}

.generate-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 55, 170, 86));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.generate-button::-moz-focus-inner {
    border: none;
}

/* Overlay */
.generate-button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.generate-button::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.generate-button:hover,
.generate-button:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.generate-button:hover::before {
    opacity: 0.08;
}

.generate-button:focus::before {
    opacity: 0.24;
}

.generate-button:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.generate-button:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.generate-button:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

}
